{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when Smaug
    came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf
    decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf
    also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action. The
    superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other
    business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin II Oakenshield</h3>
        <p>
            Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
            youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770.
            While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in
            the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath the East-gate of
            Moria. At some point in the fighting, his shield broke, and using an oaken tree branch found on the ground
            as a shield, he gained the epithet "Oakenshield," which would remain with him even in death.
            <br>
            <br>
            Thorin became King-in-Exile of Durin's Folk in TA 2850 after his father went missing, and died in the
            dungeons of Dol Guldur.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/a/a1/BOTFA_-_Fili_and_Kili.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Fili and Kili</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother, Dís. They were also nephews
            of Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long nose, the longest of any of the Dwarves in Thorin's company.
            <br>
            As the youngest Dwarves, Fíli and Kíli had the sharpest eyes, and were often sent scouting or searching. It
            was they that found the Front Porch while in the Misty Mountains.
            <br>
            With the other Dwarves, Fíli and Kíli encountered spiders and were later imprisoned by the Elvenking
            Thranduil. They escaped the cells thanks to Bilbo, traveling down the river in barrels until they reached
            Lake-town. The brothers accompanied Thorin and Bilbo to Lake-town while the others rested by the
            river.
            <br>
            At the feet of the Lonely Mountain, Fíli and Kíli scouted Ravenhill and found the Front Gate with Balin and
            Bilbo. Also, with Bilbo, they found the side-door leading into the mountain.
            <br>
            Both brothers were killed while defending the mortally wounded Thorin Oakenshield in the Battle of Five
            Armies, and all three were buried with honor.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>
            Balin was one of the dwarves in Thorin's company. He was a trusted companion and Thorin's second-in-command.
            Balin played a key role in the quest to reclaim the Lonely Mountain. He was known for his wisdom and
            knowledge, and he often provided guidance and counsel to Thorin. Balin's most notable achievement was his
            attempt to reclaim the ancient Dwarven kingdom of Moria. Unfortunately, his expedition ended in failure,
            and he perished there. Despite his fate, Balin's memory lived on as a respected member of Thorin's company.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/52/Balin.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p>
            Dwalin was one of the dwarves in Thorin's company. He was a skilled warrior and Thorin's brother. Dwalin
            was known for his strong and fearless nature. He fought bravely alongside his companions in the quest to
            reclaim the Lonely Mountain. Dwalin was often seen wielding a large war hammer in battle, showing his
            proficiency in close combat. Despite the challenges they faced, Dwalin remained steadfast and loyal to
            Thorin and the quest until the end.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>
            Dori, a stout and reliable member of Thorin's company, played a vital role in their arduous quest. Known for
            his strength and endurance, Dori served as the protector and caretaker of his fellow dwarves. With a
            selfless and nurturing nature, he was often seen lending a helping hand to those in need. Dori's loyalty
            and unwavering support were a source of comfort to the company during their perilous journey. His steady
            presence and keen sense of responsibility exemplified the noble qualities that define a true companion.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/2/27/Mark_Hadlow_as_Dori.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/50/Untitled-31.png" alt="">
    </div>
    <div class="col-md-7">
        <h3>Nori</h3>
        <p>
            Nori, a skilled thief with a mysterious past, added an element of intrigue to Thorin's company. Known for his
            nimble fingers and quick thinking, Nori possessed a talent for sneaking past obstacles and acquiring
            valuable resources. Despite his mischievous nature, he proved himself as a reliable and resourceful member
            of the group. Nori's unique skills and keen sense of survival often came in handy during their perilous
            journey. His enigmatic demeanor and unexpected acts of bravery left an indelible impression on Thorin and
            the company, ensuring his place in their shared history.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>
            Ori, a dwarf with a talent for writing and chronicling their journey, played a crucial role in Thorin's
            company. With his quill and parchment ever ready, Ori diligently recorded the trials and triumphs of their
            quest. Known for his gentle and kind nature, he provided a calming presence amidst the challenges they
            faced. Ori's skills extended beyond writing, as he also displayed bravery in times of danger. His loyalty
            and unwavering spirit uplifted the spirits of his companions, reminding them of the importance of their
            mission. Ori's words and actions contributed to the legacy of Thorin and Company, forever etched in the
            annals of their shared history.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/2/20/Oin_2.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Óin</h3>
        <p>
            Óin, a skilled healer and expert in medicinal arts, played a vital role in Thorin's company. With his vast
            knowledge of herbs, poultices, and remedies, Óin was the primary source of medical care for the group.
            Whether it was treating wounds, curing ailments, or providing comfort, his skills were indispensable during
            their perilous journey. Despite the constant dangers they faced, Óin remained focused and dedicated to
            ensuring the well-being of his companions. His calm and reassuring presence provided solace amidst the
            chaos, earning the respect and gratitude of Thorin and the entire company.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Glóin</h3>
        <p>
            Glóin, a seasoned warrior and skilled diplomat, brought his wisdom and experience to Thorin's company. As
            the father of Gimli, a prominent member of the Fellowship of the Ring, Glóin's dedication to the cause was
            unwavering. Known for his impressive beard adorned with intricate braids, Glóin was a respected voice of
            reason within the group. He possessed exceptional negotiation skills, often representing the dwarves' best
            interests during interactions with other races. Glóin's loyalty to Thorin and the desire to reclaim their
            homeland burned fiercely in his heart, driving him forward amidst countless challenges.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/f/fc/Gloin_2.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/7/73/Bifur_2.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p>
            Bifur, a distinctive member of Thorin's company, had a rich history and a unique trait that set him apart.
            Known for the ancient Dwarvish axe embedded in his head, Bifur's story was one of resilience and
            determination. Despite his injury, Bifur remained an active participant in their quest. Though his
            communication was limited due to the axe's presence, he made his presence felt through actions. Bifur's
            strength and unwavering spirit were an inspiration to his comrades, showcasing the indomitable nature of
            the dwarves. His presence added a touch of mystery to the company and reminded everyone that true heroes
            come in all forms.
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>
            Bofur, a jovial and charismatic member of Thorin's company, brought laughter and warmth to their arduous
            journey. Known for his infectious optimism and love for music, Bofur's cheerful presence lifted the spirits
            of his companions during times of hardship. With his trusty clarinet in hand, he would often entertain the
            group with lively tunes, boosting morale and creating moments of respite from their challenging quest.
            Bofur's resourcefulness and quick thinking in dire situations made him a valuable asset to the company.
            His unwavering positivity and unwavering loyalty made him a cherished member of Thorin's band of dwarves.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Bofur_Nesbitt.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/e/ed/Bombur.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Bombur</h3>
        <p>
            Bombur, a jovial and good-natured member of Thorin's company, brought a hearty appetite and unwavering
            strength to their challenging journey. Known for his love of food and his robust stature, Bombur's presence
            added a sense of warmth and humor to the group. His culinary skills were unmatched, and he could whip up a
            delicious feast even in the most trying circumstances. Bombur's size and strength made him an asset in
            physical tasks, providing much-needed support to his companions. Despite his jovial nature, Bombur's
            loyalty and dedication to the quest were unwavering, making him a beloved member of Thorin's company.
        </p>
    </div>
</div>

{% endblock %}